
<%= form_for :message, url:[:reply, conversation] do |f| %>	

	<%= f.label :subject %>
	<%= f.text_field :subject,:placeholder=>'Type your message here' %> <br/>
	<%#= conversation %> <br/>

	<div class="formfields">
		<%= f.label :body %>
		<%= f.text_area :body, :cols=>28, :rows=>3, :placeholder=>'Type your message here' %>
	</div>
	
	<div align="right"><%= f.submit 'Reply' %></div>

<% end %>