<div style="background-color:#a22;box-shadow:5px 5px 5px #000;width:500px;height:300px;padding:30px;border:5px solid #fff">
<%= form_for :conversation, :url => {:action => :create} do |f| %>
<table>
	<tr>
		<td>
			<%= f.label :recipients %>
		</td>
		<td>	
			<%= f.text_field :recipients %>
		</td>
	</tr>

	<tr>
		<td>
			<%= f.label :subject, 'Subject' %>
		</td>
		<td>		
			<%= f.text_field :subject %>
		</td>
	</tr>		
	<tr>
		<td>
			<%= f.label :Body, 'Message' %>
		</td>
		<td>	
			<%= f.text_field :body %>
		</td>
	</tr>		
	
	<tr>
		<td>
			<%= f.submit 'Send message' %>
		</td>
		<td>	
			<%= f.submit 'Cancel', type: :reset %>
		</td>
	</tr>
</table>			
<% end %>
</div>