<div style="background-color:#099;border:5px solid #fff;height:460px;float:left;margin-left:40px;">
	<div style="width:850px;height:500px;padding-left:30px;border:1px solid #ccc">
		<h2> Sentbox (<%= @countSentboxConvUnread %>  unread conversations)</h2>
		<%#= form_tag displaysentbox_conversation_path do %>
				<%#= text_field_tag(:search) %> 
				<%#= submit_tag "Search" %><br/>
		<%# end %>
		<%= form_tag displaysentbox_conversation_path do %>
				<%= hidden_field_tag(:filter_param,'read') %>	
				<%= submit_tag "Read" %><br/>
		<% end %>
		<%= form_tag displaysentbox_conversation_path do %>
				<%= hidden_field_tag(:filter_param,'unread') %>	
				<%= submit_tag "Unread" %><br/>
		<% end %>
		<%= render 'displayConversations' %>
		<%#= will_paginate @convFinal %>
	</div>
</div>