<div style="background-color:#099;border:5px solid #fff;height:460px;float:left;margin-left:40px;">
<!--  <b> Chat participants -> </b>
	<%# @conv.recipients.each do |rec| %>
	<%#= rec.email %>
	<%# end %>
<br/><br/><br/> -->
<br/><br/>

<div style="width:600px;border:1px solid #ccc;padding:20px;height:600px;">
	<div style="float:left;"><div style="font-size:12px;color:#ccc;">

	Started by <b> <%= @conv.originator.email %> </b> 
	<%= @creationDate %> 
	<%= time_ago_in_words(@conv.created_at) %> ago
</div><br/>
<div style="float:left;">
<b><%= @conv.subject %></b>
</div></div>
<div style="float:right;">
	<%= link_to image_tag("trash.png",:width=>40), trash_conversation_path(@conv.id), :method => :post %>
</div><br/><br/>


<br/><br/>

<% @notif.each do |n| %>

<div>
	<div style="float:left;">
		<%= image_tag User.find(n.sender_id).user_image(:thumb),:height=>50 %>
	</div>
	<div style="float;left;">
		<b><%= User.find(n.sender_id).email %></b> <br/>
			<%= n.body %> 
			<div style="float:right;font-size:14px;color:#ccc;">
			<%= time_ago_in_words(n.updated_at) %> ago
	</div>
	</div><br/>
	
			<%#= date = createDateTime(n.updated_at) %>

	<% end %>
	
</div>	
<br/><br/>
<div>
<%= render 'formMessage' %>
</div>
</div>
</div>
</div>