<div style="background-color:#000;opacity:.6;box-shadow:2px 2px 2px #fff;border:5px solid #fff;float:left;margin-left:40px;">
 <!-- <b> Chat participants -> </b> -->
	<%# @conv.recipients.each do |rec| %>
	<%#= rec.email %>
	<%# end %>
<!-- <br/><br/><br/> -->
<!-- <br/><br/> -->

<div style="width:600px;border:1px solid #ccc;padding:20px;height:600px;">
	<div style="float:left;"><div style="font-size:12px;color:#ccc;float:left;">

	Started by <b> <%= @conv.originator.email %> </b> 
	<%= @creationDate %> 
	<%= time_ago_in_words(@conv.created_at) %> ago
</div>
<div style="float:left;">
&nbsp;<h4 style="display:inline;"><%= @conv.subject %></h4>
</div></div>
<div style="float:right;">
	<%= link_to image_tag("trash.png",:width=>30), trash_conversation_path(@conv.id), 
	:method => :post %>
</div>


<br/><br/><hr>
<% count = 0 %>

<%# @conv.receipts.each do |rec| %>
	<%# if !rec.is_trashed? && rec.receiver_id == current_user.id %>
		<%#= rec.notification.body %> <br/>

	<%# end %>
<%# end %>

<%#= form_for :message, url:[:reply, conversation] do |f| %>
<% @conv.receipts.each do |n| %>

	<% if !n.is_trashed? && n.receiver_id == current_user.id %>
	<% count = count + 1 %>
	
	<div>
		<!-- <div style="float:left;"> -->
			<%#= image_tag User.find(n.sender_id).user_image(:thumb),:height=>50 %>
		<!-- </div> -->
		<div>

			<a style="cursor:pointer;" class="slideoutmessage" target = <%= count %>>
				<b>From: &nbsp;<%= User.find(n.notification.sender_id).email %></b> </a><br/>
			<!-- <b>To: &nbsp; -->
				<%# @conv.recipients.each do |rec| %>
				<!-- <%#= rec.email %>,  -->
				<%# end %>
			<!-- </b>	 -->
			 <!-- <br/> -->
				<!-- Subject: <%= n.notification.subject %> <br/> -->
				
				<div id="message<%= count %>" style="display:none;">
				<div style="float:left;">Body: <%= n.notification.body %> </div>
				<div style="float:right;">
					<%= link_to image_tag("trash.png",:width=>30), 
					trashnotif_conversation_path(n), :method => :post, :params => {:notif_id => n} %>
					<div style="display:inline" targetmessage="<%= count %>" class="formmessageslideout"><img src="/assets/mail-reply.png"/ width="30"></div>
					<div style="display:inline" targetmessage="<%= count %>" class="formmessageforwardslideout">Forward</div>	
				</div>
				 
				<div style="float:right;font-size:14px;color:red;">
					<%= time_ago_in_words(n.updated_at) %> ago
				</div> &nbsp;<br><br>
		<div id="formmessage<%= count %>" style="display:none;">
			<%= form_tag (replysingleuser_conversation_path), :method => "post" do %>
				<div style="display:none" id="recp<%= count %>" ><%= label_tag(:recipients, "To:") %>
				<%= text_field_tag(:recipients, User.find(n.notification.sender_id).email) %></div><a href="#" class="addrecp" targetrecp="<%= count %>">Add Recepients</a> <br/>

				<div style="display:none;" id="sub<%= count %>"><%= label_tag(:subject, "Subject:") %>
				<%= text_field_tag(:subject, n.notification.subject) %> </div><a href="#" class="addsub" targetsub="<%= count %>">Add Subject</a><br/>
				<div class="formfields">
				<%= label_tag(:body, "Body:") %>
				<%= text_area_tag :body %></div> <br/>
				<div align="right">
				<%= submit_tag "Reply" %>
				<%= hidden_field_tag(:notif_id,n.id) %>	</div>		
			<% end %>
		</div>

		<div id="formmessageforward<%= count %>" style="display:none;">
			
			&nbsp;&nbsp;
			<%= form_tag (replysingleuser_conversation_path), :method => "post" do %>
				<div><%= label_tag(:recipients, "To:") %>
				<%= text_field_tag(:recipients) %></div>
				<!-- <a href="#" class="addrecp" targetrecp="<%= count %>">Add Recepients</a> <br/> -->

				<div><%= label_tag(:subject, "Subject:") %>
				<%= text_field_tag(:subject, n.notification.subject) %> </div> <br/>
				<div class="formfields">
				<%= label_tag(:body, "Body:") %>
				<%= text_area_tag :body, n.notification.body %></div> <br/>
				<div align="right">
				<%= submit_tag "Forward" %>
				<%= hidden_field_tag(:notif_id,n.id) %>	</div>		
			<% end %>
		</div>


	</div><br><br><hr>
		</div><br/>
	
	</div>
	<% end %>
<% end %>	
<%= render 'formMessage' %> 
<br/><br/>
<div>

</div>
</div>
</div>
</div>


<script>
$(document).ready(function(){

	$('.slideoutmessage').click(function(){
		$('#message'+$(this).attr('target')).slideToggle("fast");

	});


});

</script>

<script>
$(document).ready(function(){

	$('.formmessageslideout').click(function(){
		$('#formmessage'+$(this).attr('targetmessage')).slideToggle("fast");

	});
	$('.formmessageforwardslideout').click(function(){
		$('#formmessageforward'+$(this).attr('targetmessage')).slideToggle("fast");

	});


});

 </script>


 <script>
 	$('.addrecp').click(function(){
 		$('#recp'+$(this).attr('targetrecp')).show();
 		$(this).hide();

 	});

 </script>

  <script>
 	$('.addsub').click(function(){
 		$('#sub'+$(this).attr('targetsub')).show();
 		$(this).hide();

 	});

 </script>

