<div style="background-color:#099;border:5px solid #fff;height:460px;float:left;margin-left:40px;">
<!--  <b> Chat participants -> </b>
	<%# @conv.recipients.each do |rec| %>
	<%#= rec.email %>
	<%# end %>
<br/><br/><br/> -->
<br/><br/>

<div style="width:600px;border:1px solid #ccc;padding:20px;height:600px;">
	<div style="float:left;"><div style="font-size:12px;color:#ccc;float:left;">

	Started by <b> <%= @conv.originator.email %> </b> 
	<%= @creationDate %> 
	<%= time_ago_in_words(@conv.created_at) %> ago
</div>
<div style="float:left;">
&nbsp;<h4 style="display:inline;"><%= @conv.subject %></h4>
</div></div>
<div style="float:right;">
	<%= link_to image_tag("trash.png",:width=>30), trash_conversation_path(@conv.id), :method => :post %>
</div>


<br/><br/><hr>
<% count = 0 %>
<%#= form_for :message, url:[:reply, conversation] do |f| %>
<% @notif.each do |n| %>

	<% if !n.is_trashed?(current_user) %>
	<% count = count + 1 %>
	
	<div>
		<!-- <div style="float:left;"> -->
			<%#= image_tag User.find(n.sender_id).user_image(:thumb),:height=>50 %>
		<!-- </div> -->
		<div>

			<a style="cursor:pointer;" class="slideoutmessage" target = <%= count %>>
				<b>From: &nbsp;<%= User.find(n.sender_id).email %></b> </a><br/>
			<!-- <b>To: &nbsp; -->
				<%# @conv.recipients.each do |rec| %>
				<!-- <%#= rec.email %>,  -->
				<%# end %>
			<!-- </b>	 -->
			 <!-- <br/> -->
				<!-- Subject: <%= n.subject %> <br/> -->
				
				<div id="message<%= count %>" style="display:none;">
				<div style="float:left;">Body: <%= n.body %> </div>
				<div style="float:right;">
					<%= link_to image_tag("trash.png",:width=>30), 
					trashnotif_conversation_path(n), :method => :post, :params => {:notif_id => n} %>
					<div style="display:inline" targetmessage="<%= count %>" class="formmessageslideout"><img src="/assets/mail-reply.png"/ width="30"></div>	
				</div>
				 
				<div style="float:right;font-size:14px;color:#ccc;">
					<%= time_ago_in_words(n.updated_at) %> ago
				</div> &nbsp;<br><br>
		<div id="formmessage<%= count %>" style="display:none;">
			<%#= text_field :body , :size => 150%>
			<%#= text_area :body, :cols=>28, :rows=>3, :placeholder=>'Type your message here' 
			%>
			<%#= link_to 'Reply', replysingle_conversation_path, 
			:params => {:conv_id => '2'} %>
			<%= render 'formMessage' %>
			&nbsp;&nbsp;</div></div><br><br><hr>
		</div><br/>
	
		
<%# end %>
	
	</div>
	<% end %>
<% end %>	
<br/><br/>
<div>

</div>
</div>
</div>
</div>


<script>
$(document).ready(function(){
	$('.slideoutmessage').click(function(){
		$('#message'+$(this).attr('target')).slideToggle("fast");

	});


});

</script>

<script>
$(document).ready(function(){
	$('.formmessageslideout').click(function(){
		$('#formmessage'+$(this).attr('targetmessage')).slideToggle("fast");

	});


});

 </script>