<h2 align="center">Sign in</h2><hr>
<div style="margin-left:30%;background-color:#099;width:500px;height:300px;padding:30px;border:5px solid #fff">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="inputs">
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>
</div><hr>
<div style="margin-left:25%;width:50%;background-color:#08c;padding:20px;text-align:center;border:5px solid #fff;">
<%= render "links" %>
</div>