<!DOCTYPE html>
<html>
<head>
  <title>Mailboxer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body>
<div style="border:5px solid #fff;background-color:#08c;height:20px;padding:5px;">
  <% if signed_in? %>
<div style="float:left;">
  <%= link_to 'Mailboxer', :root %></div>
  
  <div style="float:right;">
    <%=   %>
     
      <%= link_to current_user.email, :edit_user_registration %>&nbsp; &nbsp;
  <%= link_to 'Sign out', :destroy_user_session, method: :delete %>&nbsp; &nbsp;
 </div>
  <% else %>
  <div style="float:right;">
    Please, <%= link_to 'sign in', :new_user_session %>
    or, <%= link_to 'sign up', :new_user_registration %></div>
  
  <% end %>
</div><br/>
<div class="notice" style="background-color:blue;text-align:center"><%= alert %></div>
<% if signed_in? %>
<div style="border:5px solid #fff;width:20%;height:400px;padding:30px;float:left;background:#08c">
   <div><%= link_to 'Compose Email', :new_conversation %></div><hr><br>
  <% if request.fullpath == '/displayinbox_conversation' %>
  
  <b> <%= link_to 'Inbox', displayinbox_conversation_path %> 
    <!-- (<%#= unreadinboxnumber %>  unread conversations) </b>  -->
  <% else %>
    <%= link_to 'Inbox', displayinbox_conversation_path %> 
    <!-- (<%#= unreadinboxnumber %>  unread conversations) -->
  <% end %>
<hr><br>

  <% if request.fullpath == '/displaysentbox_conversation' %>

    <b> <%= link_to 'Sentbox', displaysentbox_conversation_path %> 
      <!-- (<%#= unreadsentnumber %>  unread conversations) </b>  -->
  <% else %>
    <%= link_to 'Sentbox', displaysentbox_conversation_path %> 
    <!-- (<%#= unreadsentnumber %>  unread conversations) -->
  <% end %>
  <hr><br>

  <% if request.fullpath == '/displaytrash_conversation' %>
    <b> <%= link_to 'Trash', displaytrash_conversation_path %> 
      <!-- (<%#= unreadtrashnumber %>   unread conversations) </b> -->
  <% else %>
    <%= link_to 'Trash', displaytrash_conversation_path %> 
    <!-- (<%#= unreadtrashnumber %>   unread conversations) -->
  <% end %>
     <hr>

   
  </div>
  <% end %>
<%= yield %>

</body>
</html>