<!DOCTYPE html>
<html>
<head>
  <title>Mailboxer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body>
<div style="border:1px solid #ccc;background-color:#08c;height:20px;padding:5px;">
  <% if signed_in? %>
<div style="float:left;">
   <%= "Welcome to mailboxer " + current_user.email %></div>
  &nbsp; &nbsp;
  <div style="float:right;">
     <%= link_to 'Home', :root %>
  <%= link_to 'Sign out', :destroy_user_session, method: :delete %>
  <%= link_to 'Edit profile', :edit_user_registration %></div>
  <% else %>
  <div style="float:right;">
    Please, <%= link_to 'sign in', :new_user_session %>
    or, <%= link_to 'sign up', :new_user_registration %></div>
  
  <% end %>
</div>
<% if signed_in? %>
<div style="border:1px solid #ccc;width:20%;height:400px;padding:30px;float:left;">
  
  <% if request.fullpath == '/displayinbox_conversation' %>
  
  <b> <%= link_to 'Inbox', displayinbox_conversation_path %> 
    (<%= unreadinboxnumber %>  unread conversations) </b> 
  <% else %>
    <%= link_to 'Inbox', displayinbox_conversation_path %> 
    (<%= unreadinboxnumber %>  unread conversations)
  <% end %>
  <br/><br/><br/>

  <% if request.fullpath == '/displaysentbox_conversation' %>

    <b> <%= link_to 'Sentbox', displaysentbox_conversation_path %> (<%= unreadsentnumber %>  unread conversations) </b> 
  <% else %>
    <%= link_to 'Sentbox', displaysentbox_conversation_path %> (<%= unreadsentnumber %>  unread conversations)
  <% end %>
  <br/><br/><br/>

  <% if request.fullpath == '/displaytrash_conversation' %>
    <b> <%= link_to 'Trash', displaytrash_conversation_path %> (<%= unreadtrashnumber %>   unread conversations) </b>
  <% else %>
    <%= link_to 'Trash', displaytrash_conversation_path %> (<%= unreadtrashnumber %>   unread conversations)
  <% end %>
     <br/><br/><br/>

    <%= link_to 'Start Conversation', :new_conversation %>
  </div>
  <% end %>
<%= yield %>

</body>
</html>